body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.my_text {
    font-size: 3rem;
    color: #5F758E;
    font-weight: 700;
    text-shadow: 2px 2px white;
}

.my_text1 {
    font-size: 5rem;
    color: WHITE;
    font-weight: 700;
}

.my_text2 {
    font-size: 1.5rem;
    font-weight: 900;
}

.positive {
    background-color: rgb(55, 181, 55) !important;
}


.negative {
    background-color: rgb(161, 47, 47) !important;
}


.draw {
    background-color: rgb(243, 243, 109) !important;
}



.user {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #db162f;

}

.pc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #3b1f2b;

}

.result {
    color: white;
    text-shadow: 2px 2px black;
    font-weight: 900 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
    width: 10rem;
    height: 10rem;
    border-radius: 50px;
    background-color: #dbdfac;
}